<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
	crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<title>eRegistrar - Students</title>
</head>
<body>

<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">eRegistrar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor02" aria-controls="navbarColor02"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/student/list">Students</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
				 	<span style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome, Guest</span> 
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>

</body>

<div class="container">
	<h2>Students in our Database</h2>
	<a class="nav-link" href="/eregistrar/student/new">Add new student</a>
<div>
	<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Student Number</th>
					<th scope="col">First Name</th>
					<th scope="col">Middle Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">CGPA</th>
					<th scope="col">Enrollment Date</th>
					<th scope="col">Is International</th>
					<th scope="col">OPERATIONS</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="student, iter : ${student}">
					<th scope="row" th:text="${iter.count}"></th>
					<td th:text="${student.studentNumber}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.middleName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.cgpa}"></td>
					<td th:text="${student.enrollmentDate}"></td>
					<!-- <td th:text="${student.isInternational? 'Yes': 'No'}"></td> -->
					<td><input type="checkbox" th:checked=${student.isInternational}/></td>
					<td>
						<a id="editlink"th:href="@{'/student/edit/' + ${student.studentId}}">Edit</a>&nbsp;
						<a id="deletelink" th:href="@{'/student/delete/' + ${student.studentId}}">Delete</a>
						<!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="backgroud-color:red">Delete</button>
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Edit</button> -->
					</td>
				</tr>

				<tr th:if="${student.size() < 1}">
					<td colspan="9" style="text-align:center;">No Students available now.</td>
				</tr>
			</tbody>
	</table>
</div>

</div>

</html>